.topbar {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6392;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.topbar p {
  margin: 20px;
  cursor: pointer;
  color: white;
  font-weight: 700;
}
